In [1]:
import pandas as pd
import numpy as np

data = {
    'Patient_ID': [f'P{str(i).zfill(3)}' for i in range(1,31)],
    'Name': [
        'Rakib Hasan','Shila khatun','Sumon Ahmed','NULL','Tania Akter','Farhan Rahman','Afsana Islam','Rahima Begum','Md. Arif Hossain','Liza',
        'Nusrat Jahan','Sadiqur Rahman','Anika Akter','Tanvir Hossain','Rumana Akhter','Shanto Mia','Ayesha Begum','Hasan Ali','Tanha Akter','Rony Hossain',
        'Salma Begum','Rashid Khan','Fariha Akter','Imran Hossain','Lamia Akter','Rakib Hasan','Shila khatun','Sumon Ahmed','Afsana Islam','Tania Akter'
    ],
    'Age': [
        25, np.nan, -5, 32, 41, 29, 0, 38, 45, 27,
        33, 22, 30, 28, np.nan, 26, 39, 50, 31, 24,
        29, 0, 36, -2, 27, 25, 30, 34, 26, 32
    ],
    'Gender': [
        'Male','F','male','Female','female','M','Female','Fmale','Male','female',
        'M','F','f','Male','Female','M','female','Male','F','f','M','F','female','Male','F','M','female','F','M','f'
    ],
    'Date_of_Visit': [
        '2025-01-12','25/02/2025','2025-03-08','2025/04/17','2025-05-03','13-06-2025','2025-07-01','2025-08-21','2025-09-09','2025-10-10',
        '2025-01-15','2025/02/19','2025-03-20','2025-04-05','2025-05-25','2025-06-10','2025-07-12','2025/08/18','2025-09-22','2025-10-15',
        '2025-01-25','2025-02-28','2025-03-30','2025/04/12','2025-05-30','2025-06-15','2025-07-20','2025-08-25','2025-09-30','2025-10-28'
    ],
    'City': [
        'Dhaka','chittagong','Sylhet','Rajshahi','Rangpur','Barisal','Mymensingh','Dhka','Khulna','Dhaka',
        'Dhaka','Chittagong','Sylhet','Rajshahi','Rangpur','Barisal','Mymensingh','Dhaka','Khulna','chittagong',
        'Dhaka','Sylhet','Rajshahi','Barisal','Khulna','Dhaka','chittagong','Sylhet','Mymensingh','Rangpur'
    ],
    'Height_cm': [
        172, 158, 165, np.nan, 160, '170cm', 162, 159, 174, 166,
        168, 171, 163, 175, 160, 169, 158, 172, 165, 167,
        0, 162, 161, 170, 164, 165, 158, 160, 162, 159
    ],
    'Weight_kg': [
        68, np.nan, 59, 70, '65kg', 71, 58, 60, 78, 55,
        62, 75, 60, 80, 66, 69, 57, 74, 63, 61,
        0, 59, 72, 70, 64, 68, 60, 66, 58, 65
    ],
    'Blood_Pressure': [
        '120/80','130/85',None,'125/90','135/88','120_80','125/82','115/78','145/95','118/80',
        '122/81','128/84','124/79','130/85','135/90','120/80','125/82','140/90','130/88','119/79',
        '0/0','123/80','127/85','125/80','118/82','120/78','130/85','125/80','122/80','128/82'
    ],
    'Glucose_Level': [
        95, 110, 98, 'bad_data', 115, 100, 105, 108, 130, '?',
        98, 105, 102, 110, 115, 107, 99, 120, 112, 104,
        0, 108, 115, 100, 99, 95, 110, 102, 105, 108
    ],
    'Remarks': [
        'Healthy','Good','NULL','Diabetes','normal','healthy','N/A','recovered','hypertension','no issues',
        'normal','healthy','Good','N/A','NULL','check','healthy','risk','normal','healthy',
        'N/A','check','Good','healthy','normal','healthy','N/A','recovered','Good','check'
    ]
}

# create DataFrame
df = pd.DataFrame(data)

# save as CSV
df.to_csv('bd_health_dataset.csv', index=False)

print("✅ Bd_health_dataset.csv")
df

✅ Bd_health_dataset.csv

,Patient_ID,Name,Age,Gender,Date_of_Visit,City,Height_cm,Weight_kg,Blood_Pressure,Glucose_Level,Remarks
0,P001,Rakib Hasan,25.0,Male,2025-01-12,Dhaka,172,68,120/80,95,Healthy
1,P002,Shila khatun,NaN,F,25/02/2025,chittagong,158,NaN,130/85,110,Good
2,P003,Sumon Ahmed,-5.0,male,2025-03-08,Sylhet,165,59,None,98,NULL
3,P004,NULL,32.0,Female,2025/04/17,Rajshahi,NaN,70,125/90,bad_data,Diabetes
4,P005,Tania Akter,41.0,female,2025-05-03,Rangpur,160,65kg,135/88,115,normal
5,P006,Farhan Rahman,29.0,M,13-06-2025,Barisal,170cm,71,120_80,100,healthy
6,P007,Afsana Islam,0.0,Female,2025-07-01,Mymensingh,162,58,125/82,105,N/A
7,P008,Rahima Begum,38.0,Fmale,2025-08-21,Dhka,159,60,115/78,108,recovered
8,P009,Md. Arif Hossain,45.0,Male,2025-09-09,Khulna,174,78,145/95,130,hypertension
9,P010,Liza,27.0,female,2025-10-10,Dhaka,166,55,118/80,?,no issues
10,P011,Nusrat Jahan,33.0,M,2025-01-15,Dhaka,168,62,122/81,98,normal
11,P012,Sadiqur Rahman,22.0,F,2025/02/19,Chittagong,171,75,128/84,105,healthy
12,P013,Anika Akter,30.0,f,2025-03-20,Sylhet,163,60,124/79,102,Good
13,P014,Tanvir Hossain,28.0,Male,2025-04-05,Rajshahi,175,80,130/85,110,N/A
14,P015,Rumana Akhter,NaN,Female,2025-05-25,Rangpur,160,66,135/90,115,NULL
15,P016,Shanto Mia,26.0,M,2025-06-10,Barisal,169,69,120/80,107,check
16,P017,Ayesha Begum,39.0,female,2025-07-12,Mymensingh,158,57,125/82,99,healthy
17,P018,Hasan Ali,50.0,Male,2025/08/18,Dhaka,172,74,140/90,120,risk
18,P019,Tanha Akter,31.0,F,2025-09-22,Khulna,165,63,130/88,112,normal
19,P020,Rony Hossain,24.0,f,2025-10-15,chittagong,167,61,119/79,104,healthy
20,P021,Salma Begum,29.0,M,2025-01-25,Dhaka,0,0,0/0,0,N/A
21,P022,Rashid Khan,0.0,F,2025-02-28,Sylhet,162,59,123/80,108,check
22,P023,Fariha Akter,36.0,female,2025-03-30,Rajshahi,161,72,127/85,115,Good
23,P024,Imran Hossain,-2.0,Male,2025/04/12,Barisal,170,70,125/80,100,healthy
24,P025,Lamia Akter,27.0,F,2025-05-30,Khulna,164,64,118/82,99,normal
25,P026,Rakib Hasan,25.0,M,2025-06-15,Dhaka,165,68,120/78,95,healthy
26,P027,Shila khatun,30.0,female,2025-07-20,chittagong,158,60,130/85,110,N/A
27,P028,Sumon Ahmed,34.0,F,2025-08-25,Sylhet,160,66,125/80,102,recovered
28,P029,Afsana Islam,26.0,M,2025-09-30,Mymensingh,162,58,122/80,105,Good
29,P030,Tania Akter,32.0,f,2025-10-28,Rangpur,159,65,128/82,108,check

#1. Handling Missing Values – Drop Rows

Definition: Remove rows that have missing or null values.

Why: Sometimes missing data is too extensive; dropping rows keeps data clean.

In [2]:
print("Dataset Shape before using dropna() : ", df.shape)

# Drop rows with any NaN
df = df.dropna()

print("Dataset Shape after using dropna() : ", df.shape)
print("\nThe Dataset afer using dropna(): \n")
df

Dataset Shape before using dropna() :  (30, 11)
Dataset Shape after using dropna() :  (26, 11)

The Dataset afer using dropna():

,Patient_ID,Name,Age,Gender,Date_of_Visit,City,Height_cm,Weight_kg,Blood_Pressure,Glucose_Level,Remarks
0,P001,Rakib Hasan,25.0,Male,2025-01-12,Dhaka,172,68,120/80,95,Healthy
4,P005,Tania Akter,41.0,female,2025-05-03,Rangpur,160,65kg,135/88,115,normal
5,P006,Farhan Rahman,29.0,M,13-06-2025,Barisal,170cm,71,120_80,100,healthy
6,P007,Afsana Islam,0.0,Female,2025-07-01,Mymensingh,162,58,125/82,105,N/A
7,P008,Rahima Begum,38.0,Fmale,2025-08-21,Dhka,159,60,115/78,108,recovered
8,P009,Md. Arif Hossain,45.0,Male,2025-09-09,Khulna,174,78,145/95,130,hypertension
9,P010,Liza,27.0,female,2025-10-10,Dhaka,166,55,118/80,?,no issues
10,P011,Nusrat Jahan,33.0,M,2025-01-15,Dhaka,168,62,122/81,98,normal
11,P012,Sadiqur Rahman,22.0,F,2025/02/19,Chittagong,171,75,128/84,105,healthy
12,P013,Anika Akter,30.0,f,2025-03-20,Sylhet,163,60,124/79,102,Good
13,P014,Tanvir Hossain,28.0,Male,2025-04-05,Rajshahi,175,80,130/85,110,N/A
15,P016,Shanto Mia,26.0,M,2025-06-10,Barisal,169,69,120/80,107,check
16,P017,Ayesha Begum,39.0,female,2025-07-12,Mymensingh,158,57,125/82,99,healthy
17,P018,Hasan Ali,50.0,Male,2025/08/18,Dhaka,172,74,140/90,120,risk
18,P019,Tanha Akter,31.0,F,2025-09-22,Khulna,165,63,130/88,112,normal
19,P020,Rony Hossain,24.0,f,2025-10-15,chittagong,167,61,119/79,104,healthy
20,P021,Salma Begum,29.0,M,2025-01-25,Dhaka,0,0,0/0,0,N/A
21,P022,Rashid Khan,0.0,F,2025-02-28,Sylhet,162,59,123/80,108,check
22,P023,Fariha Akter,36.0,female,2025-03-30,Rajshahi,161,72,127/85,115,Good
23,P024,Imran Hossain,-2.0,Male,2025/04/12,Barisal,170,70,125/80,100,healthy
24,P025,Lamia Akter,27.0,F,2025-05-30,Khulna,164,64,118/82,99,normal
25,P026,Rakib Hasan,25.0,M,2025-06-15,Dhaka,165,68,120/78,95,healthy
26,P027,Shila khatun,30.0,female,2025-07-20,chittagong,158,60,130/85,110,N/A
27,P028,Sumon Ahmed,34.0,F,2025-08-25,Sylhet,160,66,125/80,102,recovered
28,P029,Afsana Islam,26.0,M,2025-09-30,Mymensingh,162,58,122/80,105,Good
29,P030,Tania Akter,32.0,f,2025-10-28,Rangpur,159,65,128/82,108,check

#2. Handling Missing Values – Fill with Mean

Definition: Replace numeric NaNs with the mean of the column.

Why: Keeps all rows; avoids losing data.

In [3]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df[['Patient_ID','Age']])

   Patient_ID   Age
0        P001  25.0
4        P005  41.0
5        P006  29.0
6        P007   0.0
7        P008  38.0
8        P009  45.0
9        P010  27.0
10       P011  33.0
11       P012  22.0
12       P013  30.0
13       P014  28.0
15       P016  26.0
16       P017  39.0
17       P018  50.0
18       P019  31.0
19       P020  24.0
20       P021  29.0
21       P022   0.0
22       P023  36.0
23       P024  -2.0
24       P025  27.0
25       P026  25.0
26       P027  30.0
27       P028  34.0
28       P029  26.0
29       P030  32.0

/tmp/ipython-input-4099510041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].fillna(df['Age'].mean())

#3. Fill Missing Numeric Values with Median

Definition: Replace NaN with column median.

Why: Reduces influence of outliers.

In [4]:
df['Weight_kg'] = pd.to_numeric(df['Weight_kg'], errors='coerce')
df['Weight_kg'] = df['Weight_kg'].fillna(df['Weight_kg'].median())
print(df[['Patient_ID','Weight_kg']])

   Patient_ID  Weight_kg
0        P001       68.0
4        P005       64.0
5        P006       71.0
6        P007       58.0
7        P008       60.0
8        P009       78.0
9        P010       55.0
10       P011       62.0
11       P012       75.0
12       P013       60.0
13       P014       80.0
15       P016       69.0
16       P017       57.0
17       P018       74.0
18       P019       63.0
19       P020       61.0
20       P021        0.0
21       P022       59.0
22       P023       72.0
23       P024       70.0
24       P025       64.0
25       P026       68.0
26       P027       60.0
27       P028       66.0
28       P029       58.0
29       P030       65.0

/tmp/ipython-input-2070315288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight_kg'] = pd.to_numeric(df['Weight_kg'], errors='coerce')
/tmp/ipython-input-2070315288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weight_kg'] = df['Weight_kg'].fillna(df['Weight_kg'].median())

#4. Fill Missing Categorical Values with Mode

Definition: Replace missing categories with the most frequent value.

Why: Maintains consistency in categorical data.

In [5]:
df['Gender'] = df['Gender'].replace(['?', 'NULL'], pd.NA)
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
print(df[['Patient_ID','Gender']])

   Patient_ID  Gender
0        P001    Male
4        P005  female
5        P006       M
6        P007  Female
7        P008   Fmale
8        P009    Male
9        P010  female
10       P011       M
11       P012       F
12       P013       f
13       P014    Male
15       P016       M
16       P017  female
17       P018    Male
18       P019       F
19       P020       f
20       P021       M
21       P022       F
22       P023  female
23       P024    Male
24       P025       F
25       P026       M
26       P027  female
27       P028       F
28       P029       M
29       P030       f

/tmp/ipython-input-1338836133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace(['?', 'NULL'], pd.NA)
/tmp/ipython-input-1338836133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])

#6. Convert Data Types

Definition: Ensure columns are proper numeric, datetime, or string.

Why: Enables correct calculations and operations.

In [6]:
df['Date_of_Visit'] = pd.to_datetime(df['Date_of_Visit'], errors='coerce')
df['Height_cm'] = pd.to_numeric(df['Height_cm'], errors='coerce')
print(df[['Patient_ID','Date_of_Visit','Height_cm']])

   Patient_ID Date_of_Visit  Height_cm
0        P001    2025-01-12      172.0
4        P005    2025-05-03      160.0
5        P006           NaT        NaN
6        P007    2025-07-01      162.0
7        P008    2025-08-21      159.0
8        P009    2025-09-09      174.0
9        P010    2025-10-10      166.0
10       P011    2025-01-15      168.0
11       P012           NaT      171.0
12       P013    2025-03-20      163.0
13       P014    2025-04-05      175.0
15       P016    2025-06-10      169.0
16       P017    2025-07-12      158.0
17       P018           NaT      172.0
18       P019    2025-09-22      165.0
19       P020    2025-10-15      167.0
20       P021    2025-01-25        0.0
21       P022    2025-02-28      162.0
22       P023    2025-03-30      161.0
23       P024           NaT      170.0
24       P025    2025-05-30      164.0
25       P026    2025-06-15      165.0
26       P027    2025-07-20      158.0
27       P028    2025-08-25      160.0
28       P029    2025-09-30      162.0
29       P030    2025-10-28      159.0

/tmp/ipython-input-518773658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date_of_Visit'] = pd.to_datetime(df['Date_of_Visit'], errors='coerce')
/tmp/ipython-input-518773658.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Height_cm'] = pd.to_numeric(df['Height_cm'], errors='coerce')

#7. Standardize Text Case

Definition: Convert text columns to consistent case (lower/upper).

Why: Helps with matching, grouping, or filtering.

In [7]:
df['City'] = df['City'].str.strip().str.title()
print(df[['Patient_ID','City']])

   Patient_ID        City
0        P001       Dhaka
4        P005     Rangpur
5        P006     Barisal
6        P007  Mymensingh
7        P008        Dhka
8        P009      Khulna
9        P010       Dhaka
10       P011       Dhaka
11       P012  Chittagong
12       P013      Sylhet
13       P014    Rajshahi
15       P016     Barisal
16       P017  Mymensingh
17       P018       Dhaka
18       P019      Khulna
19       P020  Chittagong
20       P021       Dhaka
21       P022      Sylhet
22       P023    Rajshahi
23       P024     Barisal
24       P025      Khulna
25       P026       Dhaka
26       P027  Chittagong
27       P028      Sylhet
28       P029  Mymensingh
29       P030     Rangpur

/tmp/ipython-input-2113264082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['City'] = df['City'].str.strip().str.title()

#8. Remove Extra Spaces

Definition: Strip leading/trailing spaces in strings.

Why: Prevents mismatches in categorical analysis.

In [8]:
df['Name'] = df['Name'].str.strip()
print(df[['Patient_ID','Name']])

   Patient_ID              Name
0        P001       Rakib Hasan
4        P005       Tania Akter
5        P006     Farhan Rahman
6        P007      Afsana Islam
7        P008      Rahima Begum
8        P009  Md. Arif Hossain
9        P010              Liza
10       P011      Nusrat Jahan
11       P012    Sadiqur Rahman
12       P013       Anika Akter
13       P014    Tanvir Hossain
15       P016        Shanto Mia
16       P017      Ayesha Begum
17       P018         Hasan Ali
18       P019       Tanha Akter
19       P020      Rony Hossain
20       P021       Salma Begum
21       P022       Rashid Khan
22       P023      Fariha Akter
23       P024     Imran Hossain
24       P025       Lamia Akter
25       P026       Rakib Hasan
26       P027      Shila khatun
27       P028       Sumon Ahmed
28       P029      Afsana Islam
29       P030       Tania Akter

/tmp/ipython-input-665299284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'] = df['Name'].str.strip()

#9. Replace Invalid Values

Definition: Replace incorrect or placeholder values (like 0, ?, bad_data) with NaN or proper values.

Why: Ensures data is valid for analysis.

In [9]:
df['Glucose_Level'] = pd.to_numeric(df['Glucose_Level'], errors='coerce')
print(df[['Patient_ID','Glucose_Level']])

   Patient_ID  Glucose_Level
0        P001           95.0
4        P005          115.0
5        P006          100.0
6        P007          105.0
7        P008          108.0
8        P009          130.0
9        P010            NaN
10       P011           98.0
11       P012          105.0
12       P013          102.0
13       P014          110.0
15       P016          107.0
16       P017           99.0
17       P018          120.0
18       P019          112.0
19       P020          104.0
20       P021            0.0
21       P022          108.0
22       P023          115.0
23       P024          100.0
24       P025           99.0
25       P026           95.0
26       P027          110.0
27       P028          102.0
28       P029          105.0
29       P030          108.0

/tmp/ipython-input-1246174551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Glucose_Level'] = pd.to_numeric(df['Glucose_Level'], errors='coerce')

#10. Replace NaN and 0 with Mean

Definition: Replace NaN and 0 values with the mean of the column.

Why: To handle missing values and invalid zero entries in numeric columns.

In [10]:
# Replace 0 with NaN first, then fill NaN with mean (excluding 0s)
df['Glucose_Level'] = df['Glucose_Level'].replace(0, np.nan)
df['Glucose_Level'] = df['Glucose_Level'].fillna(df['Glucose_Level'].mean())
print(df[['Patient_ID','Glucose_Level']])

   Patient_ID  Glucose_Level
0        P001      95.000000
4        P005     115.000000
5        P006     100.000000
6        P007     105.000000
7        P008     108.000000
8        P009     130.000000
9        P010     106.333333
10       P011      98.000000
11       P012     105.000000
12       P013     102.000000
13       P014     110.000000
15       P016     107.000000
16       P017      99.000000
17       P018     120.000000
18       P019     112.000000
19       P020     104.000000
20       P021     106.333333
21       P022     108.000000
22       P023     115.000000
23       P024     100.000000
24       P025      99.000000
25       P026      95.000000
26       P027     110.000000
27       P028     102.000000
28       P029     105.000000
29       P030     108.000000

/tmp/ipython-input-2833153646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Glucose_Level'] = df['Glucose_Level'].replace(0, np.nan)
/tmp/ipython-input-2833153646.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Glucose_Level'] = df['Glucose_Level'].fillna(df['Glucose_Level'].mean())

#11. Handle Outliers (Cap/Clip)

Definition: Limit extreme numeric values to a reasonable range.

Why: Prevents skewed analysis.

In [11]:
df['Age'] = df['Age'].clip(lower=1, upper=100)
print(df[['Patient_ID','Age']])

   Patient_ID   Age
0        P001  25.0
4        P005  41.0
5        P006  29.0
6        P007   1.0
7        P008  38.0
8        P009  45.0
9        P010  27.0
10       P011  33.0
11       P012  22.0
12       P013  30.0
13       P014  28.0
15       P016  26.0
16       P017  39.0
17       P018  50.0
18       P019  31.0
19       P020  24.0
20       P021  29.0
21       P022   1.0
22       P023  36.0
23       P024   1.0
24       P025  27.0
25       P026  25.0
26       P027  30.0
27       P028  34.0
28       P029  26.0
29       P030  32.0

/tmp/ipython-input-3400995404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].clip(lower=1, upper=100)

#12. Remove Unnecessary Columns

Definition: Drop columns not needed for analysis.

Why: Reduces clutter, improves efficiency.

In [12]:
df = df.drop(columns=['Remarks'])

#13. Rename Columns

Definition: Change column names to be more descriptive or consistent.

Why: Improves readability and clarity.

In [13]:
df.rename(columns={'Height_cm':'Height','Weight_kg':'Weight'}, inplace=True)
df.columns

Index(['Patient_ID', 'Name', 'Age', 'Gender', 'Date_of_Visit', 'City',
       'Height', 'Weight', 'Blood_Pressure', 'Glucose_Level'],
      dtype='object')

#14. Replace Text Abbreviations

Definition: Standardize abbreviations (e.g., 'Fmale' → 'Female').

Why: Avoids inconsistency.

In [31]:
df['Gender'] = df['Gender'].replace({'Fmale':'Female','female':'Female','F':'Female','M':'Male', 'f':'Female'})
print(df[['Patient_ID','Gender']])

   Patient_ID  Gender
0        P001    Male
4        P005  Female
5        P006    Male
6        P007  Female
7        P008  Female
9        P010  Female
10       P011    Male
11       P012  Female
12       P013  Female
13       P014    Male
15       P016    Male
16       P017  Female
17       P018    Male
18       P019  Female
19       P020  Female
20       P021    Male
21       P022  Female
22       P023  Female
23       P024    Male
24       P025  Female
25       P026    Male
26       P027  Female
27       P028  Female
28       P029    Male
29       P030  Female

/tmp/ipython-input-628183102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace({'Fmale':'Female','female':'Female','F':'Female','M':'Male', 'f':'Female'})

#15. Encode Categorical Data

Definition: Convert categorical variables into a numerical format that can be used by machine learning algorithms.

Why: Many machine learning models require numerical input.

In [32]:
df['Gender_Code'] = df['Gender'].map({'Male':0,'Female':1})
print(df[['Patient_ID','Gender','Gender_Code']])

   Patient_ID  Gender  Gender_Code
0        P001    Male            0
4        P005  Female            1
5        P006    Male            0
6        P007  Female            1
7        P008  Female            1
9        P010  Female            1
10       P011    Male            0
11       P012  Female            1
12       P013  Female            1
13       P014    Male            0
15       P016    Male            0
16       P017  Female            1
17       P018    Male            0
18       P019  Female            1
19       P020  Female            1
20       P021    Male            0
21       P022  Female            1
22       P023  Female            1
23       P024    Male            0
24       P025  Female            1
25       P026    Male            0
26       P027  Female            1
27       P028  Female            1
28       P029    Male            0
29       P030  Female            1

/tmp/ipython-input-2575374120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender_Code'] = df['Gender'].map({'Male':0,'Female':1})

#16. Scale Numeric Data

Definition: Standardize or normalize numeric features to have a similar range of values.

Why: Prevents features with larger values from dominating the learning process in certain algorithms.

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['Age_Scaled'] = scaler.fit_transform(df[['Age']])
print(df[['Patient_ID','Age','Age_Scaled']])

   Patient_ID   Age  Age_Scaled
0        P001  25.0    0.489796
4        P005  41.0    0.816327
5        P006  29.0    0.571429
6        P007   1.0    0.000000
7        P008  38.0    0.755102
8        P009  45.0    0.897959
9        P010  27.0    0.530612
10       P011  33.0    0.653061
11       P012  22.0    0.428571
12       P013  30.0    0.591837
13       P014  28.0    0.551020
15       P016  26.0    0.510204
16       P017  39.0    0.775510
17       P018  50.0    1.000000
18       P019  31.0    0.612245
19       P020  24.0    0.469388
20       P021  29.0    0.571429
21       P022   1.0    0.000000
22       P023  36.0    0.714286
23       P024   1.0    0.000000
24       P025  27.0    0.530612
25       P026  25.0    0.489796
26       P027  30.0    0.591837
27       P028  34.0    0.673469
28       P029  26.0    0.510204
29       P030  32.0    0.632653

#17. Impute Missing Dates

Definition: Replace missing date values with a suitable value.

Why: To handle missing data in date columns, which is important for time-series analysis or other date-based operations.

In [17]:
# Fill missing dates with the mode
df['Date_of_Visit'] = df['Date_of_Visit'].fillna(df['Date_of_Visit'].mode()[0])
print(df[['Patient_ID', 'Date_of_Visit']])

   Patient_ID Date_of_Visit
0        P001    2025-01-12
4        P005    2025-05-03
5        P006    2025-01-12
6        P007    2025-07-01
7        P008    2025-08-21
8        P009    2025-09-09
9        P010    2025-10-10
10       P011    2025-01-15
11       P012    2025-01-12
12       P013    2025-03-20
13       P014    2025-04-05
15       P016    2025-06-10
16       P017    2025-07-12
17       P018    2025-01-12
18       P019    2025-09-22
19       P020    2025-10-15
20       P021    2025-01-25
21       P022    2025-02-28
22       P023    2025-03-30
23       P024    2025-01-12
24       P025    2025-05-30
25       P026    2025-06-15
26       P027    2025-07-20
27       P028    2025-08-25
28       P029    2025-09-30
29       P030    2025-10-28

#18. Extract Date Features

Definition: Create new features from a datetime column (e.g., year, month, day, day of week).

Why: To capture temporal patterns and use them in analysis or modeling.

In [18]:
df['Visit_Year'] = df['Date_of_Visit'].dt.year
df['Visit_Month'] = df['Date_of_Visit'].dt.month
df['Visit_Day'] = df['Date_of_Visit'].dt.day
print(df[['Patient_ID', 'Date_of_Visit', 'Visit_Year', 'Visit_Month', 'Visit_Day']])

   Patient_ID Date_of_Visit  Visit_Year  Visit_Month  Visit_Day
0        P001    2025-01-12        2025            1         12
4        P005    2025-05-03        2025            5          3
5        P006    2025-01-12        2025            1         12
6        P007    2025-07-01        2025            7          1
7        P008    2025-08-21        2025            8         21
8        P009    2025-09-09        2025            9          9
9        P010    2025-10-10        2025           10         10
10       P011    2025-01-15        2025            1         15
11       P012    2025-01-12        2025            1         12
12       P013    2025-03-20        2025            3         20
13       P014    2025-04-05        2025            4          5
15       P016    2025-06-10        2025            6         10
16       P017    2025-07-12        2025            7         12
17       P018    2025-01-12        2025            1         12
18       P019    2025-09-22        2025            9         22
19       P020    2025-10-15        2025           10         15
20       P021    2025-01-25        2025            1         25
21       P022    2025-02-28        2025            2         28
22       P023    2025-03-30        2025            3         30
23       P024    2025-01-12        2025            1         12
24       P025    2025-05-30        2025            5         30
25       P026    2025-06-15        2025            6         15
26       P027    2025-07-20        2025            7         20
27       P028    2025-08-25        2025            8         25
28       P029    2025-09-30        2025            9         30
29       P030    2025-10-28        2025           10         28

#19. Replace Zeros in Numeric Fields

Definition: Replace zero values in numeric columns with a suitable value (e.g., mean, median, or NaN).

Why: Zero values can sometimes represent missing or invalid data, and replacing them can improve the quality of analysis.

In [19]:
# Replace 0 with NaN in Height and Weight columns
df['Height'] = df['Height'].replace(0, np.nan)
df['Weight'] = df['Weight'].replace(0, np.nan)

# Fill NaN values with the mean (excluding the replaced zeros)
df['Height'] = df['Height'].fillna(df['Height'].mean())
df['Weight'] = df['Weight'].fillna(df['Weight'].mean())

print(df[['Patient_ID', 'Height', 'Weight']])

   Patient_ID      Height  Weight
0        P001  172.000000   68.00
4        P005  160.000000   64.00
5        P006  165.083333   71.00
6        P007  162.000000   58.00
7        P008  159.000000   60.00
8        P009  174.000000   78.00
9        P010  166.000000   55.00
10       P011  168.000000   62.00
11       P012  171.000000   75.00
12       P013  163.000000   60.00
13       P014  175.000000   80.00
15       P016  169.000000   69.00
16       P017  158.000000   57.00
17       P018  172.000000   74.00
18       P019  165.000000   63.00
19       P020  167.000000   61.00
20       P021  165.083333   65.48
21       P022  162.000000   59.00
22       P023  161.000000   72.00
23       P024  170.000000   70.00
24       P025  164.000000   64.00
25       P026  165.000000   68.00
26       P027  158.000000   60.00
27       P028  160.000000   66.00
28       P029  162.000000   58.00
29       P030  159.000000   65.00

#20. Standardize Measurement Units

Definition: Remove units from numeric columns (e.g., 170cm, 65kg).

Why: Essential for accurate comparisons and calculations.

In [20]:
df['Height'] = df['Height'].astype(str).str.replace('cm','')
df['Height'] = pd.to_numeric(df['Height'], errors='coerce')
df['Weight'] = df['Weight'].astype(str).str.replace('kg','')
df['Weight'] = pd.to_numeric(df['Weight'], errors='coerce')

print(df[['Patient_ID', 'Height', 'Weight']])

   Patient_ID      Height  Weight
0        P001  172.000000   68.00
4        P005  160.000000   64.00
5        P006  165.083333   71.00
6        P007  162.000000   58.00
7        P008  159.000000   60.00
8        P009  174.000000   78.00
9        P010  166.000000   55.00
10       P011  168.000000   62.00
11       P012  171.000000   75.00
12       P013  163.000000   60.00
13       P014  175.000000   80.00
15       P016  169.000000   69.00
16       P017  158.000000   57.00
17       P018  172.000000   74.00
18       P019  165.000000   63.00
19       P020  167.000000   61.00
20       P021  165.083333   65.48
21       P022  162.000000   59.00
22       P023  161.000000   72.00
23       P024  170.000000   70.00
24       P025  164.000000   64.00
25       P026  165.000000   68.00
26       P027  158.000000   60.00
27       P028  160.000000   66.00
28       P029  162.000000   58.00
29       P030  159.000000   65.00

#21. Remove Special Characters

Definition: Remove unwanted characters in string columns.

Why: Ensures clean text for analysis.

In [21]:
df['Name'] = df['Name'].str.replace('[^a-zA-Z\s.]','', regex=True)

print(df[['Patient_ID', 'Name']])

   Patient_ID              Name
0        P001       Rakib Hasan
4        P005       Tania Akter
5        P006     Farhan Rahman
6        P007      Afsana Islam
7        P008      Rahima Begum
8        P009  Md. Arif Hossain
9        P010              Liza
10       P011      Nusrat Jahan
11       P012    Sadiqur Rahman
12       P013       Anika Akter
13       P014    Tanvir Hossain
15       P016        Shanto Mia
16       P017      Ayesha Begum
17       P018         Hasan Ali
18       P019       Tanha Akter
19       P020      Rony Hossain
20       P021       Salma Begum
21       P022       Rashid Khan
22       P023      Fariha Akter
23       P024     Imran Hossain
24       P025       Lamia Akter
25       P026       Rakib Hasan
26       P027      Shila khatun
27       P028       Sumon Ahmed
28       P029      Afsana Islam
29       P030       Tania Akter

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-4224327453.py:1: SyntaxWarning: invalid escape sequence '\s'
  df['Name'] = df['Name'].str.replace('[^a-zA-Z\s.]','', regex=True)

#22. Replace Nulls with Logical Values

Definition: Replace missing values with 0 or False for specific features.

Why: Some models need no NaNs.

In [24]:
df['Blood_Pressure'] = df['Blood_Pressure'].replace('0/0', np.nan)
df['Blood_Pressure'] = df['Blood_Pressure'].fillna(df['Blood_Pressure'].mode()[0])
print(df[['Patient_ID', 'Blood_Pressure']])

   Patient_ID Blood_Pressure
0        P001         120/80
4        P005         135/88
5        P006         120_80
6        P007         125/82
7        P008         115/78
8        P009         145/95
9        P010         118/80
10       P011         122/81
11       P012         128/84
12       P013         124/79
13       P014         130/85
15       P016         120/80
16       P017         125/82
17       P018         140/90
18       P019         130/88
19       P020         119/79
20       P021         120/80
21       P022         123/80
22       P023         127/85
23       P024         125/80
24       P025         118/82
25       P026         120/78
26       P027         130/85
27       P028         125/80
28       P029         122/80
29       P030         128/82

#23. Handle Outliers Using IQR

Definition: Identify and potentially remove or cap extreme values based on the Interquartile Range (IQR).

Why: IQR is robust to outliers and provides a data-driven approach to defining the range of typical values.

In [26]:
Q1 = df['Glucose_Level'].quantile(0.25)
Q3 = df['Glucose_Level'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['Glucose_Level'] < (Q1 - 1.5*IQR)) | (df['Glucose_Level'] > (Q3 + 1.5*IQR)))]
print(df[['Patient_ID', 'Glucose_Level']])

   Patient_ID  Glucose_Level
0        P001      95.000000
4        P005     115.000000
5        P006     100.000000
6        P007     105.000000
7        P008     108.000000
9        P010     106.333333
10       P011      98.000000
11       P012     105.000000
12       P013     102.000000
13       P014     110.000000
15       P016     107.000000
16       P017      99.000000
17       P018     120.000000
18       P019     112.000000
19       P020     104.000000
20       P021     106.333333
21       P022     108.000000
22       P023     115.000000
23       P024     100.000000
24       P025      99.000000
25       P026      95.000000
26       P027     110.000000
27       P028     102.000000
28       P029     105.000000
29       P030     108.000000

#24. Apply Transformations

Definition: Log or sqrt transformations to normalize skewed data.

Why: Helps modeling and statistical analysis.

In [27]:
df['Log_Glucose'] = np.log1p(df['Glucose_Level'])
df['Sqrt_Glucose'] = np.sqrt(df['Glucose_Level'])

/tmp/ipython-input-4160700314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Log_Glucose'] = np.log1p(df['Glucose_Level'])
/tmp/ipython-input-4160700314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sqrt_Glucose'] = np.sqrt(df['Glucose_Level'])

In [28]:
df

,Patient_ID,Name,Age,Gender,Date_of_Visit,City,Height,Weight,Blood_Pressure,Glucose_Level,Gender_Code,Age_Scaled,Visit_Year,Visit_Month,Visit_Day,Log_Glucose,Sqrt_Glucose
0,P001,Rakib Hasan,25.0,Male,2025-01-12,Dhaka,172.000000,68.00,120/80,95.000000,0.0,0.489796,2025,1,12,4.564348,9.746794
4,P005,Tania Akter,41.0,Female,2025-05-03,Rangpur,160.000000,64.00,135/88,115.000000,1.0,0.816327,2025,5,3,4.753590,10.723805
5,P006,Farhan Rahman,29.0,Male,2025-01-12,Barisal,165.083333,71.00,120_80,100.000000,0.0,0.571429,2025,1,12,4.615121,10.000000
6,P007,Afsana Islam,1.0,Female,2025-07-01,Mymensingh,162.000000,58.00,125/82,105.000000,1.0,0.000000,2025,7,1,4.663439,10.246951
7,P008,Rahima Begum,38.0,Female,2025-08-21,Dhka,159.000000,60.00,115/78,108.000000,1.0,0.755102,2025,8,21,4.691348,10.392305
9,P010,Liza,27.0,Female,2025-10-10,Dhaka,166.000000,55.00,118/80,106.333333,1.0,0.530612,2025,10,10,4.675939,10.311806
10,P011,Nusrat Jahan,33.0,Male,2025-01-15,Dhaka,168.000000,62.00,122/81,98.000000,0.0,0.653061,2025,1,15,4.595120,9.899495
11,P012,Sadiqur Rahman,22.0,Female,2025-01-12,Chittagong,171.000000,75.00,128/84,105.000000,1.0,0.428571,2025,1,12,4.663439,10.246951
12,P013,Anika Akter,30.0,f,2025-03-20,Sylhet,163.000000,60.00,124/79,102.000000,NaN,0.591837,2025,3,20,4.634729,10.099505
13,P014,Tanvir Hossain,28.0,Male,2025-04-05,Rajshahi,175.000000,80.00,130/85,110.000000,0.0,0.551020,2025,4,5,4.709530,10.488088
15,P016,Shanto Mia,26.0,Male,2025-06-10,Barisal,169.000000,69.00,120/80,107.000000,0.0,0.510204,2025,6,10,4.682131,10.344080
16,P017,Ayesha Begum,39.0,Female,2025-07-12,Mymensingh,158.000000,57.00,125/82,99.000000,1.0,0.775510,2025,7,12,4.605170,9.949874
17,P018,Hasan Ali,50.0,Male,2025-01-12,Dhaka,172.000000,74.00,140/90,120.000000,0.0,1.000000,2025,1,12,4.795791,10.954451
18,P019,Tanha Akter,31.0,Female,2025-09-22,Khulna,165.000000,63.00,130/88,112.000000,1.0,0.612245,2025,9,22,4.727388,10.583005
19,P020,Rony Hossain,24.0,f,2025-10-15,Chittagong,167.000000,61.00,119/79,104.000000,NaN,0.469388,2025,10,15,4.653960,10.198039
20,P021,Salma Begum,29.0,Male,2025-01-25,Dhaka,165.083333,65.48,120/80,106.333333,0.0,0.571429,2025,1,25,4.675939,10.311806
21,P022,Rashid Khan,1.0,Female,2025-02-28,Sylhet,162.000000,59.00,123/80,108.000000,1.0,0.000000,2025,2,28,4.691348,10.392305
22,P023,Fariha Akter,36.0,Female,2025-03-30,Rajshahi,161.000000,72.00,127/85,115.000000,1.0,0.714286,2025,3,30,4.753590,10.723805
23,P024,Imran Hossain,1.0,Male,2025-01-12,Barisal,170.000000,70.00,125/80,100.000000,0.0,0.000000,2025,1,12,4.615121,10.000000
24,P025,Lamia Akter,27.0,Female,2025-05-30,Khulna,164.000000,64.00,118/82,99.000000,1.0,0.530612,2025,5,30,4.605170,9.949874
25,P026,Rakib Hasan,25.0,Male,2025-06-15,Dhaka,165.000000,68.00,120/78,95.000000,0.0,0.489796,2025,6,15,4.564348,9.746794
26,P027,Shila khatun,30.0,Female,2025-07-20,Chittagong,158.000000,60.00,130/85,110.000000,1.0,0.591837,2025,7,20,4.709530,10.488088
27,P028,Sumon Ahmed,34.0,Female,2025-08-25,Sylhet,160.000000,66.00,125/80,102.000000,1.0,0.673469,2025,8,25,4.634729,10.099505
28,P029,Afsana Islam,26.0,Male,2025-09-30,Mymensingh,162.000000,58.00,122/80,105.000000,0.0,0.510204,2025,9,30,4.663439,10.246951
29,P030,Tania Akter,32.0,f,2025-10-28,Rangpur,159.000000,65.00,128/82,108.000000,NaN,0.632653,2025,10,28,4.691348,10.392305

# Replace 'Age' values of 1 with the mean

In [29]:
df['Age'] = df['Age'].replace(1, df['Age'].mean())
print(df[['Patient_ID','Age']])

   Patient_ID   Age
0        P001  25.0
4        P005  41.0
5        P006  29.0
6        P007  27.4
7        P008  38.0
9        P010  27.0
10       P011  33.0
11       P012  22.0
12       P013  30.0
13       P014  28.0
15       P016  26.0
16       P017  39.0
17       P018  50.0
18       P019  31.0
19       P020  24.0
20       P021  29.0
21       P022  27.4
22       P023  36.0
23       P024  27.4
24       P025  27.0
25       P026  25.0
26       P027  30.0
27       P028  34.0
28       P029  26.0
29       P030  32.0

/tmp/ipython-input-2388026710.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].replace(1, df['Age'].mean())

In [33]:
df

,Patient_ID,Name,Age,Gender,Date_of_Visit,City,Height,Weight,Blood_Pressure,Glucose_Level,Gender_Code,Age_Scaled,Visit_Year,Visit_Month,Visit_Day,Log_Glucose,Sqrt_Glucose
0,P001,Rakib Hasan,25.0,Male,2025-01-12,Dhaka,172.000000,68.00,120/80,95.000000,0,0.489796,2025,1,12,4.564348,9.746794
4,P005,Tania Akter,41.0,Female,2025-05-03,Rangpur,160.000000,64.00,135/88,115.000000,1,0.816327,2025,5,3,4.753590,10.723805
5,P006,Farhan Rahman,29.0,Male,2025-01-12,Barisal,165.083333,71.00,120_80,100.000000,0,0.571429,2025,1,12,4.615121,10.000000
6,P007,Afsana Islam,27.4,Female,2025-07-01,Mymensingh,162.000000,58.00,125/82,105.000000,1,0.000000,2025,7,1,4.663439,10.246951
7,P008,Rahima Begum,38.0,Female,2025-08-21,Dhka,159.000000,60.00,115/78,108.000000,1,0.755102,2025,8,21,4.691348,10.392305
9,P010,Liza,27.0,Female,2025-10-10,Dhaka,166.000000,55.00,118/80,106.333333,1,0.530612,2025,10,10,4.675939,10.311806
10,P011,Nusrat Jahan,33.0,Male,2025-01-15,Dhaka,168.000000,62.00,122/81,98.000000,0,0.653061,2025,1,15,4.595120,9.899495
11,P012,Sadiqur Rahman,22.0,Female,2025-01-12,Chittagong,171.000000,75.00,128/84,105.000000,1,0.428571,2025,1,12,4.663439,10.246951
12,P013,Anika Akter,30.0,Female,2025-03-20,Sylhet,163.000000,60.00,124/79,102.000000,1,0.591837,2025,3,20,4.634729,10.099505
13,P014,Tanvir Hossain,28.0,Male,2025-04-05,Rajshahi,175.000000,80.00,130/85,110.000000,0,0.551020,2025,4,5,4.709530,10.488088
15,P016,Shanto Mia,26.0,Male,2025-06-10,Barisal,169.000000,69.00,120/80,107.000000,0,0.510204,2025,6,10,4.682131,10.344080
16,P017,Ayesha Begum,39.0,Female,2025-07-12,Mymensingh,158.000000,57.00,125/82,99.000000,1,0.775510,2025,7,12,4.605170,9.949874
17,P018,Hasan Ali,50.0,Male,2025-01-12,Dhaka,172.000000,74.00,140/90,120.000000,0,1.000000,2025,1,12,4.795791,10.954451
18,P019,Tanha Akter,31.0,Female,2025-09-22,Khulna,165.000000,63.00,130/88,112.000000,1,0.612245,2025,9,22,4.727388,10.583005
19,P020,Rony Hossain,24.0,Female,2025-10-15,Chittagong,167.000000,61.00,119/79,104.000000,1,0.469388,2025,10,15,4.653960,10.198039
20,P021,Salma Begum,29.0,Male,2025-01-25,Dhaka,165.083333,65.48,120/80,106.333333,0,0.571429,2025,1,25,4.675939,10.311806
21,P022,Rashid Khan,27.4,Female,2025-02-28,Sylhet,162.000000,59.00,123/80,108.000000,1,0.000000,2025,2,28,4.691348,10.392305
22,P023,Fariha Akter,36.0,Female,2025-03-30,Rajshahi,161.000000,72.00,127/85,115.000000,1,0.714286,2025,3,30,4.753590,10.723805
23,P024,Imran Hossain,27.4,Male,2025-01-12,Barisal,170.000000,70.00,125/80,100.000000,0,0.000000,2025,1,12,4.615121,10.000000
24,P025,Lamia Akter,27.0,Female,2025-05-30,Khulna,164.000000,64.00,118/82,99.000000,1,0.530612,2025,5,30,4.605170,9.949874
25,P026,Rakib Hasan,25.0,Male,2025-06-15,Dhaka,165.000000,68.00,120/78,95.000000,0,0.489796,2025,6,15,4.564348,9.746794
26,P027,Shila khatun,30.0,Female,2025-07-20,Chittagong,158.000000,60.00,130/85,110.000000,1,0.591837,2025,7,20,4.709530,10.488088
27,P028,Sumon Ahmed,34.0,Female,2025-08-25,Sylhet,160.000000,66.00,125/80,102.000000,1,0.673469,2025,8,25,4.634729,10.099505
28,P029,Afsana Islam,26.0,Male,2025-09-30,Mymensingh,162.000000,58.00,122/80,105.000000,0,0.510204,2025,9,30,4.663439,10.246951
29,P030,Tania Akter,32.0,Female,2025-10-28,Rangpur,159.000000,65.00,128/82,108.000000,1,0.632653,2025,10,28,4.691348,10.392305